.main {
    display: inline-block;
    text-align: center;
    margin-top: 7%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

#timer {
    display: block;
    right: 0; 
}

#button-container {
    display: none;
}

#alert {
    display: inline-block;
    margin-left: 25%;
}

.choice {
    display: block;
    margin:10px;
    margin-left: 25%;
}

#done-page {
    display: none;
    text-align: left;
    margin-top: 15%;
    margin-left: 25%;
    padding-top: 20px;
}

.style {
    display: none;
    margin-top: 10%;
    margin: 10px;
    margin-left: 25%;
    padding: 20px;
}

